@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px red solid;
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */
/* section 4 */
section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem 0;
}
section:nth-of-type(4) h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

section:nth-of-type(4) div{
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0 1 rem;
}
section:nth-of-type(4) .services img{
  margin-bottom: 1rem;
  width: 80px;
  height: 80px;

}

section:nth-of-type(4) .services{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 30%;
}
section:nth-of-type(4) .services h3{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 30%;
  
}




/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
