@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
  background-color: #F2F4FC;
}


/* ------------------------------ INDEX html ------------------------------ */

/* ------------------------------ HEADER SECTION (COMMON SECTION) ------------------------------ */

header{
  /* position: fixed;
  z-index: 1; */
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
  padding: 1vw 5vw 1vw 5vw;
}

.logo-circle {
  width: 100px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

nav a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 22.1px;
  text-decoration: none;
  color: black;
  padding: 0 16px;
}

nav a:hover{
  color: #072AC8;

}

/* BUTTON CONTACT US STYLE */

.style-button-contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 10vw;
  height: 2.5vw;
  background: #072AC8;
  color: white;
  border: none;
}

button:hover{
  color: white;
  background-color: #292E47;
  transition: background-color .5s;
}

.style-button-contact a{
  display: flex;
  text-align: center;
  margin: auto;
  flex-wrap: nowrap;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

/* HAMBURGER MENU */

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* ------------------------------ MAIN SECTION------------------------------ */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
}

#hero-main-section-text {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  padding: 1vw 1vw 1vw 5vw;
}

#hero-main-section-text h1{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 130%;
  color: #292E47;
  margin-bottom: 3vh;
  width: 70%;
}

#hero-main-section-text h4{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 150%;
  color: #6B708D;
  margin-bottom: 3vh;
  width: 70%;
}

.hero-main-section-button{
 display: flex;
 gap: 5%;
 width: 70%;
}

.getintouch-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 10vw;
  height: 2.5vw;
  background: #072AC8;
  border: none;
}

.getintouch-button a{
 display: flex;
 text-align: center;
 margin: auto;
 flex-wrap: nowrap;
 color: white;
 font-family: "Roboto";
 font-weight: 500;
 font-size: 17px;
 text-decoration: none;
}

.seeourwork-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 10vw;
  height: 2.5vw;
  background: none;
  border: none;
}
.seeourwork-button a{
  display: flex;
  text-align: center;
  margin: auto;
  flex-wrap: nowrap;
  color: #6B708D;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

#hero-main-section-images{
background-image: url("/resources/images/hero-section/hero-image.png");
background-repeat: no-repeat;
background-position: top center;
background-size: 30vw;
position: relative;
width: 100vw;
}

.img2{
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
}

.img3{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17vw;
  height: 17vw;
}

/* ------------------------------ CLIENTS SECTION ------------------------------ */

#clients-section{
  display: flex;
  justify-content: space-around;
  margin-bottom: 25vh;
 }
 
 #clients-section img{
   width: 7vw;
   height: auto;
  }
 

/* ------------------------------ RECENT PROJECTS SECTION ------------------------------ */

#recent-project-section{
  margin-bottom: 5vh;
}

#recent-project-section h2 {
  font-family: 'Roboto';
  /* font-style:normal; */
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  padding: 5px;
  margin: 0px 0px 0px 100px;
  color: #292E47;
}

.external-div-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 100px;
}

.internal-div-project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  width: 30%;
  box-shadow: 10px 10px 40px #B9B9B9;
}

.internal-div-project img{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
}

.internal-div-project h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.internal-div-project p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6B708D;;
  margin-bottom: 3vh;
  margin-left: 2vw;
}

.learn-more-button{
  display: flex;
  justify-content: start;
  font-family: "Roboto";
  background: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #072AC8;
  border: none;
  background-color: transparent;
  margin-bottom: 4vh;
  margin-left: 2vw;
}

/* ------------------------------ TESTIMONIALS SECTION ------------------------------ */

#testimonial-project-section{
  background-color: #292E47;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vw;
  position:relative;
  margin-bottom: 250px;
}

.face1{
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  margin: 5vh 5vw;
}
  
.face2{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  margin: 5vh 5vw;
}

.face3{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  margin: 5vh 5vw;
} 

.face4{
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  margin: 5vh 5vw;
} 

#central-box-profile{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonial-project-section h2{
  font-family:'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #F4F6FC;
  margin-bottom: 18%;
}
.quote{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #FFC600;
  width: 28vw;
  margin-bottom: 18%;
}

#booking{
  display: flex;
}
#rounded-frame img{
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
}

.info-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-profile{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  color: #A2D6F9;
  margin-bottom: 0.5vh;
 
}
.url-profile{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #F4F6FC;
 
}

/* ------------------------------ Services ------------------------------ */
/* section 4 */


section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 250px;
  
}
section:nth-of-type(4) h2{
  font-weight: bold;
  font-size: 40px;
}

section:nth-of-type(4) div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  align-items: left;
  padding: 0 1 rem;
}

section:nth-of-type(4) .services img{
  width: 50px;
  height: 50px;
}

section:nth-of-type(4) .services div{
  border-radius: 50%;
  background-color: #ECF7FF;
  padding: 5%;
  margin: 2vh 2vw 5vh 1vw;
}

section:nth-of-type(4) .services{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 30%;
  background-color: white;
  box-shadow: 10px 10px 40px #B9B9B9;
  padding: 15px;
  
}
section:nth-of-type(4) .services h3{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 3vh;
  margin-left: 15px;
}
section:nth-of-type(4) .services p{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 70%;
  margin-bottom: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6B708D;

}

section:nth-of-type(4) .services button{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 50%;
  background-color: white;
  color: #072AC8;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 15px;
  border: none;
}






/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */
.cta {
  background-color: #FFC600;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;

}
.cta h2{
  display: flex;
  font-family:'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #292E47;
  text-align: center;

}
.cta p{
  width: auto;
  margin-bottom: 50px;
  font-family:'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 47px;
}

.cta button{
  background: #072AC8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 37px;
  gap: 10px;
  width: 10vw;
  height: auto;
  left: 658px;
  top: 147px;
  font-weight: 600;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

.cta button:hover{
  color: white;
  background-color: #292E47;
  transition: background-color .5s;
}

.cta input{
  box-sizing: border-box;
  width: 16vw;
  height: auto;
  /* margin: 0 0.5rem; */
  border: none;
  /* left: 245px;
  top: 147px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background: url(/resources/images/newsletter/icon/mail.svg) no-repeat 3%;
  background-size: 8%;
  background-color: white;
  padding-left: 3vw;
}

/* separando el input del subscribe button */
.cta div{
  display: flex;
  gap: 10px;
  height: 15%;
}


/* ------------------------------ Footer ------------------------------ */
footer{
  display: flex;
  height: 242px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 1vw 5vw 1vw 5vw;
  margin-bottom: 5%;
}

#footericon p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  flex-wrap: wrap;
  width: 80%;

}
#footericon img{
  width: 150px;
  height: auto;
  margin-bottom: 25px;
}

#footerlist{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  
}

.list1 ul{
  display: flex;
  list-style: none;
  gap: 50px;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color:#072ac8;
  
}
.list2 ul{
  display: flex;
  list-style: none;
  gap: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color:#072ac8;
}




/* -------------------------------------------------------------------------- */


/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ MAIN SECTION------------------------------ */

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 47px;
  padding: 5px;
  margin-bottom: 50px;
  color: #292E47;
}

#main-project-section{
  display: flex;
  flex-direction: column;
}

.subtitle-left{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #6B708D;
  margin-bottom: 50px;
}

.subtitle-right{
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #292E47;
}

#main-project-section img{
  height: 500px;
  box-shadow: 10px 10px 40px #B9B9B9;
  margin-bottom: 50px;
}

#main-project-section p{
   margin-bottom: 25px;
   font-size: 20px;
   line-height: 30px;
}


/* ------------------------------ OTHER PROJECTS SECTION ------------------------------ */

#other-projects-section h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  padding: 5px;
  margin-bottom: 50px;
  color: #292E47;
}

.cta{
  background-color: #FFC600;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;
}



/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
}

form .form2{
  display: flex;
  flex-direction: row;
  gap: 1%;
}

form .form2 div{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 1.5%;
}

form button{
  background-color: #072AC8;
  color: white;
  padding: 40px ;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

form button:hover{
  color: white;
  background-color: #292E47;
  transition: background-color .5s;
}

form input{
  background-color: #E6E9F1;
  padding: 1.5%;
  font-size: 14px;
  margin-bottom: 1.5%;
  border: none;
}

form textarea{
  background-color: #E6E9F1;
  padding: 20px;
  font-size: 14px;
  font-family: "Roboto";
  margin-bottom: 1.5%;
  border: none;
}

#contactform {
  padding:160px;
}

#h1form{
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 60px;
}

#email, #phone{
  padding: 2.5%;
}




/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
/* @media (max-width: 990px) {} */


/* ------------------------- Smaller than 766px (mobile) ------------------------- */

@media (max-width: 766px) {

/* INDEX PAGE */

  body {
    width: 100%;
    margin: auto;
  }

/* HEADER SECTION */

header{
  height: 30%;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
  padding: 1vw 5vw 1vw 5vw;
}

/* HEADER SECTION - HAMBURGER MENU */
.bar{
  background-color: blue;
}

.hacemos-y-ya-vemos, .style-button-contact{
  display: none;
}

.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  z-index: 2;
  position: fixed;
  left: -100%;
  top: 50px;
  gap: 0;
  flex-direction: column;
  background-color: #c8cad5;
  width: 100%;
  text-align: left;
  transition: 0.3s;
}

.nav-item{
  margin: 16px 0px;
}

.nav-menu.active{
  left: 0;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
}

#hero-main-section-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#hero-main-section-text h1{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #292E47;
  margin-bottom: 3vh;
  width: 90%;
  text-align: center;
}

#hero-main-section-text h4{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 17px;
  line-height: 150%;
  color: #6B708D;
  margin-bottom: 3vh;
  width: 80%;
  text-align: center;
}

.hero-main-section-button{
 display: flex;
 justify-content: center;
 gap: 5%;
 width: 80%;
}

.getintouch-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 15vw;
  height: 5vw;
  background: #072AC8;
  border: none;
}

.getintouch-button a{
 display: flex;
 text-align: center;
 margin: auto;
 flex-wrap: nowrap;
 color: white;
 font-family: "Roboto";
 font-weight: 500;
 font-size: 17px;
 text-decoration: none;
}

.seeourwork-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 15vw;
  height: 5vw;
  background: none;
  border: none;
}
.seeourwork-button a{
  display: flex;
  text-align: center;
  margin: auto;
  flex-wrap: nowrap;
  color: #6B708D;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

#hero-main-section-images{
  background-position: center center;
  background-size: 78vw;
  width: auto;
  height: 100vh;
  padding: 100px;
  }

.img2{
  display: none;
}

.img3{
  display: none;
}

/* CLIENTS SECTION */

#clients-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vh;
  gap: 200px;
 }
 
 #clients-section img{
   width: 20vw;
   height: auto;
  }
  #clients-section div{
    padding: 20px;
  }
  #clients-section div:last-child {
    display: none;
  }

/* RECENT PROJECTS SECTION */
  
#recent-project-section{
  margin-bottom: 5vh;
}

#recent-project-section h2 {
  font-size: 30px;
  padding: 5px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.external-div-project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 80%;
  margin: 5vh 5vh 5vh 5vh;
}

.internal-div-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  margin-bottom: 5vh;
  box-shadow: 10px 10px 40px #B9B9B9;
}

.internal-div-project img{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
}

.internal-div-project h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 2vh 2vw 0.5vh 2vw;
}

.internal-div-project p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6B708D;;
  margin: 2vh 2vw 2vh 2vw;
}

.learn-more-button{
  display: flex;
  justify-content: start;
  font-family: "Roboto";
  background: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #072AC8;
  border: none;
  background-color: transparent;
  margin: 2vh 2vw 2vh 2vw;
}

/* TESTIMONIALS SECTION */

#testimonial-project-section{
  background-color: #292E47;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vw;
  position:relative;
  margin-bottom: 5vh;
}

.face1{
  display: none;
}
  
.face2{
  display: none;
}

.face3{
  display: none;
} 

.face4{
  display: none;
} 

#testimonial-project-section h2{
  font-family:'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #F4F6FC;
  margin-bottom: 7%;
  text-align: center;
  width: 60vw;
}

.quote{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #FFC600;
  width: 75vw;
  margin-bottom: 5%;
}

/* SEVICES SECTION */


section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 80%;
  margin: 5vh 5vh 5vh 5vh;
}

section:nth-of-type(4) h2{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

section:nth-of-type(4) div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  align-items: left;
  padding: 0 1 rem;
}

section:nth-of-type(4) .services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  margin-bottom: 5vh;
  box-shadow: 10px 10px 40px #B9B9B9; 
}

/* CTA SECTION */

.cta {
  background-color: #FFC600;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  margin-bottom: 5vh;

}

.cta button{
  background: #072AC8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 37px;
  gap: 10px;
  width: 50vw;
  height: 4vh;
  left: 658px;
  top: 147px;
  font-weight: 600;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

.cta input{
  box-sizing: border-box;
  width: 50vw;
  height: 4vh;
  /* margin: 0 0.5rem; */
  border: none;
  /* left: 245px;
  top: 147px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background: url(/resources/images/newsletter/icon/mail.svg) no-repeat 5%;
  background-size: 8%;
  background-color: white;
  padding-left: 9vw;
}

/* separando el input del subscribe button */
.cta div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

/* FOOTER */

footer{
  display: flex;
  flex-direction: column;
  height: 242px;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw 1vw 5vw;
  margin-bottom: 5%;
  
}

#footericon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footericon p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  flex-wrap: wrap;
  width: 30vw;
  text-align: center;
  margin-bottom: 5%;
  
  
}
#footericon img{
  width: 150px;
  height: auto;
  margin-bottom: 25px;
  align-content: center;
}

#footerlist{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  
}

.list1 ul{
  display: flex;
  list-style: none;
  gap: 50px;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color:#072ac8;
  
}
.list2 ul{
  display: flex;
  list-style: none;
  gap: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color:#072ac8;
}

/* PROJECTS PAGE */

/* MAIN SECTION */


h2 {
  font-size: 40px;
}

#main-project-section{
  display: flex;
  flex-direction: column;
  padding: 1vw 5vw 1vw 5vw;
}

.subtitle-left{
  font-size: 20px;
  flex-direction: column;
}

.subtitle-right{
  font-size: 20px;
}

#main-project-section img{
  height: 500px;
  box-shadow: 10px 10px 40px #B9B9B9;
  margin-bottom: 50px;
}

#main-project-section p{
   font-size: 20px;
 
}


/* OTHER PROJECTS SECTION */

#other-projects-section h2 {
  font-size: 30px;
  padding: 5px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

/* CONTACT US PAGE */


form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
}

form .form2{
  display: flex;
  flex-direction: column;
  gap: 1%;
}

form .form2 div{
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 1.5%;
}

form button{
  background-color: #072AC8;
  color: white;
  padding: 40px ;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

form button:hover{
  color: white;
  background-color: #292E47;
  transition: background-color .5s;
}

form input{
  background-color: #E6E9F1;
  padding: 1.5%;
  font-size: 14px;
  margin-bottom: 1.5%;
  border: none;
}

form textarea{
  background-color: #E6E9F1;
  padding: 20px;
  font-size: 14px;
  font-family: "Roboto";
  margin-bottom: 1.5%;
  border: none;
}

#contactform {
  padding: 1vw 5vw 1vw 5vw;
}

#h1form{
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 40px;
}




}






/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */